<nav class="navbar navbar-expand-lg navbar-light bg-light me-0">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Eris </a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      (click)="toggleButton = !toggleButton; sideBar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <div class="navbar-nav">
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    User Name <i class="bi bi-person-circle"></i>
                  </a>
                  <div class="dropdown-menu">
                      <a href="#" class="dropdown-item">Profile</a>
                      <a href="#" class="dropdown-item">Logout</a>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
</nav>
