<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    <span *ngIf="dialogData.type == 'notify'"><i class="fas fa-bell"></i></span>
    <span *ngIf="dialogData.type == 'attention'"
      ><i class="fas fa-exclamation-triangle"></i
    ></span>
    <!-- <span *ngIf="dialogData.type=='error'"><img src="assets/Error-Warning.svg"></span> -->
    {{ dialogData.title }}
  </h4>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <span [innerHTML]="dialogData.text"></span>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="modal.close('OK')"
  >
    OK
  </button>
</div>
