<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    <p>add-device works!</p>
  </h4>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <mat-stepper linear #stepper>
    <!-- Icon overrides. -->
    <!-- #docregion override-icons -->
    <ng-template matStepperIcon="edit">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-check"
      >
        <polyline points="20 6 9 17 4 12"></polyline>
      </svg>
    </ng-template>

    <!-- #enddocregion override-icons -->
    <!-- #enddocregion states -->
    <!-- Battery Information stepper start-->
    <mat-step [stepControl]="deviceInfoForm">
      <form class="cmxform" [formGroup]="deviceInfoForm">
        <ng-template matStepLabel>Device Information</ng-template>
        <fieldset>
          <div class="form-group">
            <label class="form-label" for="name">Device Name</label>
            <input
              id="name"
              class="form-control"
              name="name"
              formControlName="name"
              type="text"
            />
            <!-- <div class="error mt-2 text-danger">
              <div>Device Name is required</div>
            </div> -->
          </div>
          <div class="form-group pt-3">
            <label class="form-label" for="name">Pump Controller MAC</label>
            <input
              id="name"
              class="form-control"
              name="name"
              formControlName="pmac"
              type="text"
            />
            <!-- <div class="error mt-2 text-danger">
              <div>Pump Controller MAC is required</div>
            </div> -->
          </div>
          <div class="form-group pt-3">
            <label class="form-label" for="name">Valve Controller MAC</label>
            <input
              id="name"
              class="form-control"
              name="name"
              formControlName="vmac"
              type="text"
            />
            <!-- <div class="error mt-2 text-danger">
              <div>Valve Controller MAC is required</div>
            </div> -->
          </div>
          <!-- <div class="form-group pt-3">
                        <label class="form-label" for="name">Lattitude</label>
                        <input id="name" class="form-control" name="name" formControlName="lat" type="number">
                    </div>
                    <div class="form-group pt-3">
                        <label class="form-label" for="name">Longitude</label>
                        <input id="name" class="form-control" name="name" formControlName="long" type="number">
                    </div> -->
          <button
            type="button"
            class="btn btn-outline-primary mr-2 mt-4 submit"
            (click)="DeviceInfo(stepper)"
          >
            Next<i
              class="bi bi-arrow-right"
              style="
                padding-left: 8px;
                height: 16px;
                width: 16px;
                padding-top: 1px;
              "
            ></i>
          </button>
        </fieldset>
      </form>
    </mat-step>
    <!-- Battery Information stepper close -->
    <!-- cell Information stepper start-->
    <mat-step [stepControl]="deviceConfigForm">
      <form class="cmxform" [formGroup]="deviceConfigForm">
        <ng-template matStepLabel>Device Configuration</ng-template>
        <fieldset>
          <div class="form-group mt-3">
            <label class="form-label" for="email">Threshold</label>
            <input
              id="name"
              class="form-control"
              name="name"
              formControlName="threshold"
              type="number"
            />
            <!-- <div class="error mt-2 text-danger">
              <div>Threshold is required</div>
            </div> -->
          </div>
          <div class="form-group mt-3">
            <label class="form-label" for="email">Line Size (CM)</label>
            <input
              id="name"
              class="form-control"
              name="name"
              formControlName="lineSize"
              type="number"
            />
          </div>
          <div class="form-group mt-3">
            <label class="form-label" for="email">Pipe Size (CM)</label>
            <input
              id="name"
              class="form-control"
              name="name"
              formControlName="pipeSize"
              type="number"
            />
          </div>
          <div class="form-group mt-3">
            <label class="form-label" for="email"
              >Payload Interval (Seconds)</label
            >
            <input
              id="name"
              class="form-control"
              name="name"
              formControlName="payloadInterval"
              type="number"
            />
          </div>

          <button
            type="button"
            class="btn btn-outline-dark submit mt-4"
            matStepperPrevious
            style="margin-right: 15px"
          >
            <span class="ml-1"
              ><i
                class="bi bi-arrow-left"
                style="
                  padding-right: 8px;
                  height: 16px;
                  width: 16px;
                  padding-top: 1px;
                "
              ></i
              >Back</span
            >
          </button>
          <button
            type="button"
            *ngIf="type === 'Add'"
            class="btn btn-outline-primary submit mt-4"
            (click)="done()"
          >
            <span class="ml-1"
              ><i
                class="bi bi-check2-square"
                style="
                  padding-right: 8px;
                  height: 16px;
                  width: 16px;
                  padding-top: 1px;
                "
              ></i
              >Done</span
            >
          </button>
          <button
            type="button"
            *ngIf="type === 'Edit'"
            class="btn btn-outline-primary submit mt-4"
            (click)="update()"
          >
            <span class="ml-1"
              ><i
                class="bi bi-check2-square"
                style="
                  padding-right: 8px;
                  height: 16px;
                  width: 16px;
                  padding-top: 1px;
                "
              ></i
              >Update</span
            >
          </button>
          <!-- </div> -->
        </fieldset>
      </form>
    </mat-step>
  </mat-stepper>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('OK')">OK</button>
</div> -->
