.header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 86px;
  right: 0px;
  // overflow: hidden;
}

.content {
  position: absolute;
  top: 86px;
  bottom: 50px;
  left: 0px;
  right: 0px;
  overflow: auto;

  .sidebar {
    position: fixed;
    width: 160px;
    margin: 0;
    top: 86px;
    height: 100%;
    // bottom: 56px;
  }

  .main-content {
    position: fixed;
    top: 86px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    overflow: auto;
    margin: 0px 0px 0px 80px;
    padding: 2%;
    transition: 0.3s;
    width: -webkit-fill-available;
    &.sidebarExpanded {
      width: -webkit-fill-available;
      margin: 0px 0px 10px 270px;
      padding: 2%;
    }
  }
}

// .mobile-view-side-bar {
//   z-index: 100;
//   position: fixed;
//   overflow: auto;
// }

.mobile-view-main-contain {
  margin: 1%;
  padding: 1%;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 56px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
